{{#each this}}
<div class="movieDiv">
<div class="col s6 card horizontal movieCard z-depth-1" saved="{{saved}}">
   <div class="card-image">
     <img src={{Poster}} width="170" height="250">
   </div>
   <div class="card-stacked">
     <div class="card-content">
      {{#if saved}}
       <div key="{{@key}}"class="chip delete right-align">
          Delete
        <i class="delete close material-icons">close</i>
      </div>
      {{/if}}
       <ul>
         <li> <h5> {{Title}}</h5></li>
         <li> <strong> Year released: </strong>{{Year}}</li>
         <li> <strong> Cast: </strong> {{Actors}} </li>
       </ul>
     </div>
      {{#if saved}}
        <span class="rating">
          <i key="{{@key}}" class="1 material-icons userRating {{activateStars rating 1}}">star</i>
          <i key="{{@key}}" class="2 material-icons userRating {{activateStars rating 2}}">star</i>
          <i key="{{@key}}" class="3 material-icons userRating {{activateStars rating 3}}">star</i>
          <i key="{{@key}}" class="4 material-icons userRating {{activateStars rating 4}}">star</i>
          <i key="{{@key}}" class="5 material-icons userRating {{activateStars rating 5}}">star</i>
          <i key="{{@key}}" class="6 material-icons userRating {{activateStars rating 6}}">star</i>
          <i key="{{@key}}" class="7 material-icons userRating {{activateStars rating 7}}">star</i>
          <i key="{{@key}}" class="8 material-icons userRating {{activateStars rating 8}}">star</i>
          <i key="{{@key}}" class="9 material-icons userRating {{activateStars rating 9}}">star</i>
          <i key="{{@key}}" class="10 material-icons userRating {{activateStars rating 10}}">star</i>
        </span>
      {{else}}
        <div class="card-action">
          <a  class="add-ToWatch" key="{{@key}}" href="#" style="{{checkAuth}}">Add to Watchlist</a>
        </div>
      {{/if}}
    </div>
</div>
</div>
{{/each}}
